* {
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
	height: 100%
}
#wrapper {
	padding: 100px;
}
.area-all {
	background: white url("../img/waypoints-all.png") no-repeat;
}
.area-circle {
	background: white url("../img/waypoints-circle.png") no-repeat;
}
.area-square {
	background: white url("../img/waypoints-square.png") no-repeat;
}
.area-line {
	background: white url("../img/waypoints-line.png") no-repeat;
}
.area {
	position: relative;
	width: 500px;
	height: 500px;
	border: 1px solid gray;
	overflow: hidden;
	margin-bottom: 10px;
}
.item {
	width: 128px;
	height: 128px;
	border: 1px solid gray;
	background: url("../img/item.png") no-repeat;
	position: absolute;
}